:root{
    --left: -40px;
}
body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#planets{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sun{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: orange;
    border-radius: 50%;
}
.planet{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 50%;
}
#mecury{
    background-color: gray;
    left: -70px;
    transform-origin: 140px;
    animation: orbit 22s linear infinite;
}
#venus{
    background-color: orangered;
    left: -140px;
    transform-origin: 160px;
    animation: orbit 56.175s linear infinite;
}
#earth{
    left: -210px;
    transform-origin: 180px;
    animation: orbit 91.25s linear infinite;
}
#mars{
    left: -280px;
    transform-origin: 200px;
    animation: orbit 171.75s linear infinite;
}
#jupiter{
    left: -350px;
    transform-origin: 220px;
    animation: orbit 1085.875s linear infinite;
}
#saturn{
    left: -420px;
    transform-origin: 160px;
    animation: orbit 2691.875s linear infinite;
}
#uranus{
    left: -490px;
    transform-origin: 160px;
    animation: orbit 7665s linear infinite;
}
#neptune{
    left: -560px;
    transform-origin: 160px;
    animation: orbit 15038s linear infinite;
}
#pluto{
    left: -630px;
    transform-origin: 160px;
    animation: orbit 22602.625s linear infinite;
}
@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}