:root{

}
body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#planets{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sun{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: orange;
    border-radius: 50%;
}
.planet{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 50%;
}
#mercury{
    background-color: gray;
    animation: orbit 22s linear infinite;
}
#venus{
    background-color: orangered;
    animation: orbit 56.175s linear infinite;
}
#earth{
    animation: orbit 91.25s linear infinite;
}
#mars{
    animation: orbit 171.75s linear infinite;
}
#jupiter{
    animation: orbit 1085.875s linear infinite;
}
#saturn{
    animation: orbit 2691.875s linear infinite;
}
#uranus{
    animation: orbit 7665s linear infinite;
}
#neptune{
    animation: orbit 15038s linear infinite;
}
#pluto{
    animation: orbit 22602.625s linear infinite;
}
.des{
    background-color: white;
    padding: 0px 3px 0px 3px;
    position: absolute;
}
@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}