:root{
    
}
body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#planets{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sun{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: orange;
    border-radius: 50%;
}
.planet{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 50%;
    background-size: 100% 100%;
}
#mercury{
    /* width: 100px;
    height: 100px; */
    background-image: url("images/mercury.png");
    background-color: gray;
    animation: orbit 1.6s linear infinite;
}
#venus{
    background-image: url("images/venus.png");
    background-color: orangered;
    animation: orbit 2.247s linear infinite;
}
#earth{
    animation: orbit 3.65s linear infinite;
}
#mars{
    animation: orbit 6.87s linear infinite;
}
#jupiter{
    animation: orbit 43.435s linear infinite;
}
#saturn{
    animation: orbit 107.675s linear infinite;
}
#uranus{
    animation: orbit 306.6s linear infinite;
}
#neptune{
    animation: orbit 601.52s linear infinite;
}
#pluto{
    animation: orbit 904.105s linear infinite;
}
.des{
    background-color: white;
    padding: 0px 3px 0px 3px;
    position: absolute;
}
@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}